<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flipper Frenzy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="title">
        <h1>Flipper Frenzy!</h1>
    </div>
    <div id="main">
        <h2>debug</h2>
        {% if message %}
            <div id="status">
                <h3>{{ message }}</h3>
            </div>
        {% endif %}
        <form action="debug-update" method="post">
          <textarea rows="25" cols="60" name="data">{{ data }}</textarea>
          <br/>
          <input type="submit" value="Update"/>
        </form>
    </div>

    <div id="copyright"><p>Copyright Zertle 2022</p></div>

</body>
</html>
