<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flipper Frenzy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="title">
        <h1>Flipper Frenzy!</h1>
    </div>
    <div id="main">
        <h2>Tournament!</h2>
        {% if message %}
            <div id="status">
                <h3>{{ message }}</h3>
            </div>
        {% endif %}

        <div id="matches" class="container">
            <h2>Matches:</h2>
            <ul>
                {% for match in matches %}
                    <li class="match">
                        {% if not match.winner %}
                            <a class="winner" href="{{ url_for('match_winner', match_id=match.id, player_name=match.player_a) }}">{{ match.player_a }}</a> vs
                            <a class="winner" href="{{ url_for('match_winner', match_id=match.id, player_name=match.player_b) }}">{{ match.player_b }}</a>
                            on {{ match.machine_name }}
                        {% elif match.winner == match.player_a %}
                            <span class="ready">{{ match.player_a }}</span> vs <span class="in-match">{{ match.player_b }}</span> on {{ match.machine_name }}
                        {% else %}
                            <span class="in-match">{{ match.player_a }}</span> vs <span class="ready">{{ match.player_b }}</span> on {{ match.machine_name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('next_match') }}" id="next-match-btn" class="btn">
                <div>Next match!</div>
            </a>
        </div>

        <div id="players" class="container">
            <h2>Players:</h2>

            {% if sort_by_rank %}
                <h4>Sort by: <a href="{{ url_for('sort_by', by_rank=False) }}">Queue</a> <strong>Ranking</strong></h4>
            {% else %}
                <h4>Sort by: <strong>Queue</strong> <a href="{{ url_for('sort_by', by_rank=True) }}">Ranking</a></h4>
            {% endif %}

            <a href="{{ url_for('shuffle') }}" class="btn">
                <div>Shuffle Queue</div>
            </a>

            <ul>
                {% for player in players %}
                    {% if not player.enabled %}
                            <li class="faced">
                                <a href="{{ url_for('player_detail', player_name=player.name) }}">{{ player.name }}</a>
                            </li>
                        {% elif player.active %}
                            <li class="in-match">
                                <a href="{{ url_for('player_detail', player_name=player.name) }}">{{ player.name }}</a>
                            </li>
                        {% else %}
                            <li class="ready">
                                <a href="{{ url_for('player_detail', player_name=player.name) }}">{{ player.name }}</a>
                            </li>
                        {% endif %}
                {% endfor %}
                {% for player in players %}
                    <li>{{ player.num_wins }} / {{ player.num_losses }} ({{ player.ratio }})</li>
                {% endfor %}
                {% for player in players %}
                    {% if player.enabled %}
                        <li><a href="{{ url_for('enable_player', player_name=player.name, enable=False) }}"><i class="fa fa-times-circle"></i></a></li>
                    {% else %}
                        <li><a href="{{ url_for('enable_player', player_name=player.name, enable=True) }}"><i class="fa fa-check-circle"></i></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <form action="add-player" method="post">
                <input name="name" placeholder="Name"/> <button type="submit">Add</button>
            </form>
        </div>

        <div id="machines" class="container">
            <h2>Machines:</h2>
            <ul>
                {% for machine in machines %}
                    {% if machine.active %}
                        <li class="in-match">{{ machine.name }}</li>
                    {% elif machine.enabled %}
                        <li class="ready">{{ machine.name }}</li>
                    {% else %}
                        <li class="faced">{{ machine.name }}</li>
                    {% endif %}
                {% endfor %}
                {% for machine in machines %}
                    {% if machine.enabled %}
                        <li><a href="{{ url_for('enable_machine', machine_name=machine.name, enable=False) }}"><i class="fa fa-times-circle"></i></a></li>
                    {% else %}
                        <li><a href="{{ url_for('enable_machine', machine_name=machine.name, enable=True) }}"><i class="fa fa-check-circle"></i></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <form action="add-machine" method="post">
                <input name="name" placeholder="Name"/> <button type="submit">Add</button>
            </form>
        </div>

        <a href="{{ url_for('reset_tournament') }}">Reset Tournament</a><br/>
        <a href="{{ url_for('reset_all') }}">Clear Everything</a>

    </div>

    <div id="copyright"><p>Copyright Zertle 2022</p></div>

</body>
</html>
